name: FB_Continuous_Bot

on:
  schedule:
    - cron: '0 */5 * * *' # Runs every 5 hours
  workflow_dispatch: # Allows you to trigger it manually anytime

jobs:
  run-automation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Selenium
        run: pip install selenium

      - name: Run Script
        run: python bot.py

      - name: Save Failure Image
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: bot-eyes
          path: fail_screenshot.png
