name: FB_Auto_Bot

on:
  schedule:
    - cron: '0 8 * * *' # Runs at 8:00 AM UTC (approx. 11:00 AM EAT)
  workflow_dispatch: # Allows manual run button in GitHub

jobs:
  automation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Selenium
        run: pip install selenium

      - name: Run Script
        run: python bot.py

      - name: Upload Error Screenshot
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: failure-evidence
          path: fail_screenshot.png
